/* General Styling */

body {
  font-family: "Lora", serif;
  line-height: 1.6;
  color: #000;
  background-color: #f4f4f4;
  margin: 0;
}

/* ================= Article container ================= */
.container {
  display: flex;
  max-width: 2400px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

/* ===================== Typography ================== */

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  margin-top: 1.2em;
}
h1 {
  font-weight: 500;
  font-size: 2.2em;
  margin-top: 0em;
}

h2 {
  font-weight: 400;
  font-size: 1.7em;
  margin-top: 1em;
}

/* ================= Links and Anchor Styles ================= */

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

article {
  flex: 1; 
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

article header {
  margin-bottom: 20px;
}

.author-subtitle {
  font-size: 1.0em;
  color: #666; 
}

article time {
  font-size: 0.9em;
  color: #666; 
}

/* =============== Code Blocks ================ */
code {
  font-family: 'Fira Code', monospace;
}

pre {
  overflow: auto;
}

pre code {
  font-size: .85em !important;
  line-height: 1.5; /* In between spacing*/
}

p code, li code {
  background-color: #e0e0e0; 
  color: #1a1a1a; 
  border: 1px solid #ccc;
  font-size: .85em;
  padding: 2px 3px;
}

pre, pre code, p code, li code {
  border-radius: 4px;
}


/* ================ Sidebar ================= */

.sidebar {
  width: 200px; 
  align-self: flex-start;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 20px; 
}


.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  display: block;
  padding: 8px 15px; 
  text-decoration: none;
  color: #0056b3;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.sidebar a:hover {
  background-color: #e0e0e0; 
  color: #333; 
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: color 0.3s ease, text-decoration 0.3s ease;
} 

/* ================= SAGE CELLS ================= */
/* Number of Sage Cell lines in display before scrolling */
.sagecell .CodeMirror-scroll {
  min-height: 3em;
  max-height: 50em !important;
}
  

/* ================= Image Styles ================= */

.image-container {
  display: flex;
  flex-direction: column; /* Arrange image and caption vertically */
  align-items: center; /* Center image and caption horizontally */
  margin-bottom: 20px; /* Add spacing below image */
}

.image-container img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Add subtle rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Apply a subtle shadow */
}

.image-container figcaption {
  object-fit: cover;
  font-size: 0.9em; /* Slightly smaller font for caption */
  color: #666; /* Gray text color for caption */
  text-align: center; /* Center the caption */
  margin-top: 10px; /* Add spacing between image and caption */
}

/* ================= Responsive Design ================= */
@media (max-width: 1200px) {
  .sidebar {
    display: none; 
  }
  
  article {
    width: 100%; 
  }

  .container {
    padding: 10px;
  }
}